section{
    direction: rtl;
    background: #f0f0f0;
    /* padding: 30px 0 40px;
    margin-top: 20px; */
    padding: 80px 0px;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}


.row {
    margin-right: -15px;
    margin-left: -15px;
}
@media (max-width: 1000px) {
    section{
	padding: 70px 30px;
    }
}

.footer-bottom{
    margin-right: 20px;
}
.footer-bottom2{
    margin-right: 24px;
}
.copyright{
    text-align: left;
}
.Container{
    display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1000px;
	margin: 0 auto;
}

.Column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 60px;
}



a {
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    text-decoration: none;
}

&:hover {
	color: green;
	transition: 200ms ease-in;
}


h2
{
    background: #e6e6e6;
    font-size: 22px;
    color: #000757;
    font-weight: 400;
    border-right: 4px solid #000757;
    padding: 12px;
    margin-top: 0;

}
 p{
    font-size: 18px;
    margin-bottom: 8px;
 }

 .social-Links{
    padding-right: 20px;
  }
 svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.col-lg-6 {
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

}
