@font-face {
    font-family: roya;
    src: url(../public/fonts/roya.ttf);
  }
  
  body {
    color: #333;
    line-height: 1.4;
    font-size: 16px;
    text-align: right;
    margin: 0;
    padding: 0;
    font-family:roya !important;
  }

  